/* Base Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #2b292e;
  color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
  color: #6f439c;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #6f439c;
  color: white;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: 0.4rem;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions Bar */

.actions {
  background-color: #353239;
  padding: 1rem;
}

.actions__container {
  align-items: center;
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  min-height: 3rem;
  padding: 0 1.6rem;
}

.actions__container--spaced {
  justify-content: space-between;
}

/* Form Inputs */

.input {
  border: none;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin-right: 1.6rem;
  padding: 0.4rem 0.8rem;
}

.checkbox {
  align-items: baseline;
  display: flex;
}

.checkbox > input {
  margin-right: 0.4rem;
}

.button {
  background: #7044a0;
  border: none;
  border-bottom: 2px solid #603a88;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.8rem;
  transition: background 0.3s ease, color 0.3s ease;
}

.button:hover {
  background: #5f3a87;
}

.button--secondary {
  background: #888888;
  border-bottom: 2px solid #717171;
}

.button--secondary:hover {
  background: #6e6e6e;
}

.button--text {
  background: none;
  border: none;
  color: #aaa;
}

.button--text:hover {
  background: none;
  color: white;
  text-decoration: underline;
}

/* Note editor */

.title-input {
  border: 1px solid #dedfe0;
  display: block;
  font-size: 2rem;
  font-weight: 300;
  margin: 2.4rem 0;
  padding: 0.8rem;
  width: 100%;
}

.body-input {
  border: 1px solid #dedfe0;
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 2.4rem 0;
  min-height: 15rem;
  padding: 0.8rem;
  width: 100%;
}

/* Note List Item */

.list-item {
  align-items: center;
  background: #353239;
  border: 1px solid #423e47;
  color: #fafafa;
  cursor: pointer;
  display: block;
  display: flex;
  justify-content: space-between;
  margin: 1.6rem 0;
  padding: 1rem 1.6rem;
  text-decoration: none;
  transition: background 0.3s ease;
}

.list-item__container {
  align-items: baseline;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
}

.list-item__container > *:first-child {
  margin-right: 0.8rem;
}

.list-item:hover {
  background: #3d3941;
}

.list-item__title {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.list-item__subtitle {
  color: #666;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 300;
}

.list-title {
  margin: 3.2rem 0 1.6rem;
}

.empty-message {
  margin: 3.2rem 0;
}
